$bg-header: #E9E8E6;
$main-bg: #E6E5E3;
$bg-footer: #E9E8E6;
$btn-bg: #34B7A7;
$title-c: #444;
$grey-t: #7D7D7D;
$text-c: #444;
$skill-bg: #F3F3F3;
$date-bg: #EFFBF9;
$green-c: #1D685F;
$icon-bg: #F5F5F5;
$pink: #E80368;
$orange: #FFA76E;
$blue: #47AEFF;
$orange: #FF5828;
$yellow: #FFBB2C;
$last-blue: #11DBCF;
$border-c: #ced4da;
$field-c: #212529;
$social-c: #6f6f6f;
$link-c: #888888;
$white: #fff;

//
$text-f: 'Open Sans', sans-serif;
$title-f: 'Raleway', sans-serif;// link